*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

header {
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-family: 'Brandon Grotesque', brando-grotesuqe, Arial, Helvetica, sans-serif;

}

nav{
    display: flex;
    position: absolute;
    margin: auto;

}
.left-side{
    display: flex;
    font-size: 0.75rem;
    padding: 50px;
}

p{
    text-transform: uppercase;
}

.flex-items{
    margin: auto 10px;
}

.icon{
    height:20px;
    filter: brightness(0) invert(1);
    

}

.right-side{
    display: flex;
    font-size: .70rem;
    padding: 50px;
    color: lightgray;
    
}
section{
    position: relative;
    box-sizing: border-box;
    height: 650px
}

.main-pic{
    width:100%;
    position: absolute;
    bottom: 0;
    z-index: -1;

}

.main-bottom{
    position: absolute;
    bottom:0;
    box-sizing: border-box;
    

    width: 100%;
    background-color: rgba(80, 80, 80, 0.589); 
    color: white;


    

}

.main-top{
    display: flex;
    height: 75px;
    justify-content: center;
}

.bottom-bottom{
    display:flex;
    justify-content: center;
    height: 75px;
    box-sizing: border-box;
    background-color: black ;

}

.items-bottom{
    display: flex;
    width: 300px;
    background-color:;
}

